/* styles.scss */

/* Reset default margins and paddings, and set height and width to 100% */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; /* Prevent scrollbars if not needed */
  font-family: "Nabla", Arial, sans-serif; /* Optional: Set a default font */
}

/* Ensure the root component fills the entire viewport */
#root, /* If using React */
  app-root {
  /* For Angular projects */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
